@use "./modules/navbar.scss";
@use "./modules/navbar_anchor.scss";
@use "./modules/main.scss";
@use "./modules/footer.scss";
@use "./modules/button.scss";
@use "./modules/project-gallery.scss";

@use "./partials/palette";
@use "./partials/typography";

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  width: 100%;
  text-size-adjust: 100%;
}

body {
  background-color: palette.$hero-bg-color;
}

span {
  color: palette.$standout-font-color;
  font-family: typography.$secondary-font-family;
}
