@use "../partials/typography";
@use "../partials/palette";
@use "../partials/spacing";
@use "../partials/devices";


.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  width: 100%;

  font-family: typography.$primary-font-family;
  color: palette.$primary-font-color;

  @include devices.phone {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.main-container {
  width:100%;
  max-width: 926px;

  padding: 0 25px;
}

.section {
  height: fit-content;
  width: 100%;

  padding: 20px 0;

  h3 {
    padding: spacing.$section-heading-padding;
  }

  p {
      line-height: 1.5rem;
    }

  &__topDivPush {
      height: 10vh;
      width: 100%;
  }

  &__landing-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: fit-content;    

    p { padding: 3rem 0;}

    h1 {
      font-size: typography.$primary-font-size;
    }
    h2 {
      font-size: typography.$secondary-font-size;
      color: palette.$secondary-font-color;
    }

    button {
      max-width: fit-content;
    }
  

    @include devices.phone {
      // grid-template-columns: 1fr;
      h1 {
        font-size: (typography.$primary-font-size * 0.8);
      }
      h2 {
        font-size: (typography.$secondary-font-size * 0.8);
      }
      p {
        line-height: 1.2rem;
      }
    }
  }

  &__about-content {
    display: flex;
    flex-direction: row;

    
    &--left {
      width: 50%;
      @include devices.phone {
        width: 100%;
      }
    }
    &--right {
      width: 50%;

      &__imgbox {
        padding: 30px 30px 0 0 ;

        img {
          width: 70%;
          margin: 0 60px;
          filter: sepia();
          box-shadow: 30px 30px 0 rgb(208, 0, 0);          
        }
        @include devices.phone {
          width: 100%;
        }
      }
      }
    }
  
  &__tech-stack ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
    
    li {
      padding: 15px 30px;
      text-align: center;
    }
  }

  &__projects {
    &__project-links {
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 0 10px;

      a:hover {
        border:none;
        i {
          color: palette.$standout-font-color;
        }
      }
    }
  }

  &__contact{
    h3 {
      padding: 0 0 15px 0;
    }
    h2, p {
      padding: 0 0 10px 0;
    }



    &__content{
      display: flex;
      flex-direction: column;
      align-items: center;
  
      &__email-link {
        background-color: #222;
        color: #eee;
        border: 2px solid #eee;
        border-radius: 6px;
        padding: 10px;
        width: fit-content;
      }
    }
  } 
}

.sidebar {
  width: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-end;

  position: -webkit-sticky;
  position: sticky;
  top:0;
  
  &--left { 
    display: flex;
    flex-direction: column;
    background-color: palette.$hero-bg-color;
    color: palette.$primary-font-color;
    font-family: typography.$secondary-font-family;
    
    &__icon {
      padding: 15px 0;
    }
    a:last-of-type::after{
      content:"";
      display: block;
      width: 1px;
      height: 260px;
      margin: 0px auto;
      background-color: yellow;
    }
  }
  &--right { 
    background-color: palette.$hero-bg-color;
    color: palette.$primary-font-color;
    font-family: typography.$secondary-font-family;
    
    align-items: center;

    p {
      writing-mode: vertical-rl;
      padding: 25px 10px;
    }
    p:hover {
      cursor: pointer;
      border-left: 2px dashed palette.$standout-font-color;
      border-right: 2px dashed palette.$standout-font-color;
    }
    
    a:last-of-type::after{
    content:"";
    display: block;
    width: 1px;
    height: 140px;
    margin: 0px auto;
    background-color: yellow;
    }
  }

  @include devices.phone {
    display: none;
    
  }
}