@use "../partials/typography";
@use "../partials/palette";
@use "../partials/spacing";
@use "../partials/devices";


.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // align-items: center;
  
  width: 100%;

  font-family: typography.$primary-font-family;
  color: palette.$primary-font-color;
  // background-color: green;

  @include devices.phone {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.main-container {
  width:100%;
  max-width: 926px;

  padding: 0 25px;
  
  @include devices.phone {
    // background-color: lightseagreen;
    // width: 100vw;
  }
}

.section {
  height: fit-content;
  width: 100%;

  padding: 20px 0;

  h3 {
    padding: spacing.$section-heading-padding;
  }

  p {
      line-height: 1.5rem;
    }

  // h1, h2, p, button, ul {
  //   margin: 2rem;
  // }

  @include devices.phone {
    // padding: 1rem;
    // width: 100%;
  }

  &__landing-page {
    min-height: 100vh;
    max-height: fit-content;


    h1 {
      font-size: typography.$primary-font-size;
    }
    h2 {
      font-size: typography.$secondary-font-size;
      color: palette.$secondary-font-color;
    }
  

    @include devices.phone {
      // grid-template-columns: 1fr;
      h1 {
        font-size: (typography.$primary-font-size * 0.8);
      }
      h2 {
        font-size: (typography.$secondary-font-size * 0.8);
      }
      p {
        line-height: 1.2rem;
      }
    }
  }

  &__about-content {
    display: flex;
    flex-direction: row;

    img {
      width: 70%;
      margin: 0 30px;
      filter: sepia();
      border-radius: 3px;

      outline: 1px solid palette.$primary-font-color;
      outline-offset: 7px;

      //position: relative;
      //z-index: -1;
    }
    
    &--left {
      width: 50%;
      @include devices.phone {
        width: 100%;
      }
    }
    &--right {
      width: 50%;
    }
    @include devices.phone {
      width: 100%;
    }
  }

  &__contact{
    h3 {
      padding: 0 0 15px 0;
    }
    h2, p {
      padding: 0 0 10px 0;
    }



    &__content{
      display: flex;
      flex-direction: column;
      align-items: center;
  
      &__email-link {
        background-color: #222;
        color: #eee;
        border: 2px solid #eee;
        border-radius: 6px;
        padding: 10px;
        width: fit-content;
      }
    }
  } 
}

.sidebar {
  width: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-end;

  // background-color: lightgreen;


  position: -webkit-sticky;
  position: sticky;
  top:0;
  
  &-right { // use double dash here!!!!!!!
    background-color: palette.$hero-bg-color;
    color: palette.$primary-font-color;
    font-family: typography.$secondary-font-family;
    
    writing-mode: vertical-rl;
    justify-content: center;
  }

  @include devices.phone {
    // grid-template-columns: 1fr;
    display: none;
    
  }
  
  @include devices.tablet {
    // grid-template-columns: repeat(2, 1fr);
  }
}