@use "../partials/palette";
@use "../partials/typography";
@use "../partials/spacing";
@use "../partials/devices";

a {
  text-decoration: none;
  color: palette.$secondary-font-color;
}
a:hover {
  cursor: pointer;
  border-top: 2px dashed palette.$standout-font-color;
  border-bottom: 2px dashed palette.$standout-font-color;
}
a:active {
  border-top: 2px solid palette.$standout-font-color;
  border-bottom: 2px solid palette.$standout-font-color;
}
a:visited {
  color: palette.$primary-font-color;
}
a:focus {
  border-bottom: 1px solid;
  background: #BAE498;
}
