@use "../partials/devices";
@use "../partials/typography";
@use "./project-content.scss";

.project-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  width: 100%;
  list-style-type: none;
  
  @include devices.phone {
    justify-content: center;
  }
  
  @include devices.tablet {
    justify-content: center;
  }
}