@use "../partials/devices";

.project-gallery > .card {
  background-color: peru;
  height: 250px;
  width: 100%;
  min-height: fit-content;
  border: 2px solid black;
  justify-self: center;
}


.project-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 30px;
  width: 84%;

  @include devices.phone {
    grid-template-columns: 1fr;
    

    .card {
      width: 80vw;  // this means 80% of the view width
    }
  }

  @include devices.tablet {
    grid-template-columns: repeat(2, 1fr);

    .card {
      width: 40vw;  // this means 40% of the view width
    }
  }

  @include devices.landscape-tablet {
    grid-template-columns: repeat(2, 1fr);

    .card {
      width: 40vw;  // this means 40% of the view width
    }
  }

  @include devices.laptop {
    grid-template-columns: repeat(3, 1fr);

    .card {
      width: 27vw;  // this means 27% of the view width
    }
  }
}