@use "../partials/devices";
@use "../partials/typography";
@use "./project-content.scss";

.project-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // grid-template-columns: repeat(3, 1fr);
  // gap: 15px;
  width: 100%;
  // background-color: pink;
  list-style-type: none;
  
  
  @include devices.phone {
    // grid-template-columns: 1fr;
    // background-color: powderblue;
    justify-content: center;
  }
  
  @include devices.tablet {
    // grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  
  @include devices.landscape-tablet {
    // grid-template-columns: repeat(2, 1fr);
  }
  
  @include devices.laptop {
    // grid-template-columns: repeat(3, 1fr);
  }
}