@use "../partials/devices";
@use "../partials/typography";
@use "../partials/spacing";

// #projects {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: center;
//   width: 84%;
// }

.project-content {
  width: 31%;
  display: flex;
  flex-direction: column;
  // max-width: 234px;
  min-height: fit-content;
  border: 1px solid rgb(252, 252, 252);
  border-radius: 7px;
  margin: 0;
  padding: spacing.$project-card-padding;
  margin: spacing.$project-card-margin;
  // background-color: palevioletred;

  &__heading {
    font-size: typography.$tertiary-font-size;
    padding: spacing.$project-card-contents-padding;
  }
  
  &__description {
    padding: spacing.$project-card-contents-padding;
    // background-color: pink;
  }
  
  &__tech-stack-list {
    padding: spacing.$project-card-contents-padding;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    list-style-type:none;

    font-family: typography.$secondary-font-family;
    padding: 10px 0;
    padding-inline-start: 0px;

    &__item {
      margin: 0 10px;
      padding-bottom:4px;
    }
  }

  &__project-links {
    margin-top: auto;
  }
}

@include devices.phone {
  .project-content {
    margin: 0 0 6px 0;
    padding: 8px;
    width: 100%;
    max-width: 390px;
    // background-color: royalblue;

    font-size: typography.$phone-font-size;
  }
}

@include devices.tablet {
  // grid-template-columns: repeat(2, 1fr);

  .project-content {
    width: 100%;

    // background-color: brown;
  }
}

@include devices.landscape-tablet {
  // grid-template-columns: repeat(2, 1fr);

  .project-content {
    width: 33vw;  // this means 40% of the view width
    max-width: 350px;

    // background-color: chocolate;
  }
}

@include devices.laptop {
  // grid-template-columns: repeat(3, 1fr);

  .project-content {
    width: 40%;  // this means 27% of the view width

    // background-color: cornflowerblue;
  }
}

.tech-stack-text {
  // background-color: rosybrown;
  
}